@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  letter-spacing: -1px;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  vertical-align: top;
}

button {
  background: none;
  margin: 0em;
  padding: 0;
  border-width: none;
  border-style: none;
  border-color: none;
}

@font-face {
  font-family: "NotoKR";
  src: url("../font/notokr-regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "NotoKR";
  src: url("../font/notokr-medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "NotoKR";
  src: url("../font/notokr-bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "GmarketSans";
  src: url("../font/GmarketSansMedium.woff") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "GmarketSans";
  src: url("../font/GmarketSansBold.woff") format("woff2");
  font-weight: 700;
}
body {
  width: 100%;
  font-family: "NotoKR";
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1100;
}
header .ad-bar {
  font-size: 18px;
  height: 51px;
  background-color: #ed594d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.4rem;
  color: #fff;
  font-weight: 700;
  border-bottom: 1px solid #E2E8F0;
}
header .ad-bar a {
  display: flex;
  align-items: center;
}
header .ad-bar a img {
  margin-left: 8px;
}
header .header-main {
  background: #fff;
  height: 5.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.4rem;
  width: 100%;
  box-sizing: border-box;
}
header .header-main h1 img {
  width: 6.5em;
}
header .header-main #gnb {
  margin-left: 190px;
}
header .header-main #gnb li {
  display: inline-block;
}
header .header-main #gnb li a {
  font-size: 1.3rem;
  font-weight: 500;
  padding: 0 1vw;
  color: #232327;
}
header .header-main .user {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .header-main .user li {
  height: 42px;
  display: inline-block;
  border-radius: 5px;
  color: #fff;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}
header .header-main .user li a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header-main .user li a img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
header .header-main .user li.lang {
  width: 110px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #000;
  height: 42px;
  box-sizing: border-box;
}
header .header-main .user li.lang .select {
  line-height: 1.5;
  display: inline-block;
  width: 110px;
  text-align: center;
}
header .header-main .user li.lang .select .selected {
  display: flex;
  justify-content: space-between;
  padding: 8px 5px;
  height: 42px;
  box-sizing: border-box;
}
header .header-main .user li.lang .select .selected .selected-value {
  max-width: 90px;
  text-align: center;
}
header .header-main .user li.lang .select .selected .arrow {
  width: 24px;
  background: url("../img/down-arrow.png") no-repeat 70% 50%;
  background-size: 50% 50%;
}
header .header-main .user li.lang .select ul {
  display: none;
  width: 110px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  background: #fff;
  border-top: none;
  margin: 1px 0 0 -1px;
  box-sizing: border-box;
  cursor: pointer;
}
header .header-main .user li.lang .select ul li {
  line-height: 1.5;
  display: block;
  padding: 8px 5px;
  height: 42px;
  color: #000;
  box-sizing: border-box;
}
header .header-main .user li.lang .select.active ul {
  display: block;
}
header .header-main .user li.log-in {
  width: 97px;
  color: #000;
}
header .header-main .user li.join {
  width: 110px;
  background-color: #ed594d;
  margin-right: 0;
}

main {
  position: relative;
}
main .chat {
  box-sizing: border-box;
  display: block;
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 56px;
  height: 56px;
  cursor: pointer;
  z-index: 30;
  border-radius: 24px;
  background: linear-gradient(rgb(0, 112, 243) 0%, rgb(0, 72, 243) 100%);
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.1) 0px 4px 6px, rgba(0, 0, 0, 0.15) 0px 8px 30px;
}
main .chat img {
  width: 35px;
}

footer {
  background-color: #5A5B68;
  padding: 2.533rem 0;
}
footer .wrap {
  line-height: 1.8;
  width: 1300px;
  margin: 0 auto;
  color: #fff;
}
footer .wrap .gray {
  opacity: 0.7;
}
footer .wrap p {
  display: flex;
  align-items: center;
}
footer .wrap p span:after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 0.7rem;
  background-color: #fff;
  opacity: 0.7;
  margin-inline-start: 0.5rem;
  margin-inline-end: 0.5rem;
  vertical-align: middle;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  letter-spacing: -1px;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  vertical-align: top;
}

button {
  background: none;
  margin: 0em;
  padding: 0;
  border-width: none;
  border-style: none;
  border-color: none;
}

@font-face {
  font-family: "NotoKR";
  src: url("../font/notokr-regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "NotoKR";
  src: url("../font/notokr-medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "NotoKR";
  src: url("../font/notokr-bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "GmarketSans";
  src: url("../font/GmarketSansMedium.woff") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "GmarketSans";
  src: url("../font/GmarketSansBold.woff") format("woff2");
  font-weight: 700;
}
body {
  width: 100%;
  font-family: "NotoKR";
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1100;
}
header .ad-bar {
  font-size: 18px;
  height: 51px;
  background-color: #ed594d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.4rem;
  color: #fff;
  font-weight: 700;
  border-bottom: 1px solid #E2E8F0;
}
header .ad-bar a {
  display: flex;
  align-items: center;
}
header .ad-bar a img {
  margin-left: 8px;
}
header .header-main {
  background: #fff;
  height: 5.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.4rem;
  width: 100%;
  box-sizing: border-box;
}
header .header-main h1 img {
  width: 6.5em;
}
header .header-main #gnb {
  margin-left: 190px;
}
header .header-main #gnb li {
  display: inline-block;
}
header .header-main #gnb li a {
  font-size: 1.3rem;
  font-weight: 500;
  padding: 0 1vw;
  color: #232327;
}
header .header-main .user {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .header-main .user li {
  height: 42px;
  display: inline-block;
  border-radius: 5px;
  color: #fff;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}
header .header-main .user li a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header-main .user li a img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
header .header-main .user li.lang {
  width: 110px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #000;
  height: 42px;
  box-sizing: border-box;
}
header .header-main .user li.lang .select {
  line-height: 1.5;
  display: inline-block;
  width: 110px;
  text-align: center;
}
header .header-main .user li.lang .select .selected {
  display: flex;
  justify-content: space-between;
  padding: 8px 5px;
  height: 42px;
  box-sizing: border-box;
}
header .header-main .user li.lang .select .selected .selected-value {
  max-width: 90px;
  text-align: center;
}
header .header-main .user li.lang .select .selected .arrow {
  width: 24px;
  background: url("../img/down-arrow.png") no-repeat 70% 50%;
  background-size: 50% 50%;
}
header .header-main .user li.lang .select ul {
  display: none;
  width: 110px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  background: #fff;
  border-top: none;
  margin: 1px 0 0 -1px;
  box-sizing: border-box;
  cursor: pointer;
}
header .header-main .user li.lang .select ul li {
  line-height: 1.5;
  display: block;
  padding: 8px 5px;
  height: 42px;
  color: #000;
  box-sizing: border-box;
}
header .header-main .user li.lang .select.active ul {
  display: block;
}
header .header-main .user li.log-in {
  width: 97px;
  color: #000;
}
header .header-main .user li.join {
  width: 110px;
  background-color: #ed594d;
  margin-right: 0;
}

main {
  position: relative;
}
main .chat {
  box-sizing: border-box;
  display: block;
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 56px;
  height: 56px;
  cursor: pointer;
  z-index: 30;
  border-radius: 24px;
  background: linear-gradient(rgb(0, 112, 243) 0%, rgb(0, 72, 243) 100%);
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.1) 0px 4px 6px, rgba(0, 0, 0, 0.15) 0px 8px 30px;
}
main .chat img {
  width: 35px;
}

footer {
  background-color: #5A5B68;
  padding: 2.533rem 0;
}
footer .wrap {
  line-height: 1.8;
  width: 1300px;
  margin: 0 auto;
  color: #fff;
}
footer .wrap .gray {
  opacity: 0.7;
}
footer .wrap p {
  display: flex;
  align-items: center;
}
footer .wrap p span:after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 0.7rem;
  background-color: #fff;
  opacity: 0.7;
  margin-inline-start: 0.5rem;
  margin-inline-end: 0.5rem;
  vertical-align: middle;
}

.inner {
  margin: 0 auto;
}

a.gray {
  margin-top: 0.25em;
  padding: 0.5em 0;
  padding-bottom: 16px;
  color: #a8a8a8;
}

.sub-title {
  line-height: 1.2;
  font-size: 1.2em;
  font-weight: 800;
}
.sub-title.big {
  font-size: 1.875rem;
}
.sub-title strong {
  color: #ed594d;
}
.sub-title.gray {
  margin-top: 0.25em;
  padding: 0.5em 0;
  padding-bottom: 16px;
  color: #a8a8a8;
  font-weight: 400;
  font-size: 1em;
}
.sub-title.gray.plus-padding {
  padding-top: 3rem;
}

.red {
  color: #ed594d;
}

.section-point {
  background-color: #fff6f5;
}
.section-point .inner {
  width: 600px;
  padding: 56px 0;
  margin: 0 auto;
  text-align: center;
}
.section-point .inner .cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.section-point .inner .cont p {
  line-height: 1.2;
  font-size: 1.2em;
  font-weight: 800;
}
.section-point .inner .cont p.big {
  font-size: 1.875rem;
}
.section-point .inner .cont p strong {
  color: #ed594d;
}
.section-point .inner .cont p.gray {
  margin-top: 0.25em;
  padding: 0.5em 0;
  padding-bottom: 16px;
  color: #a8a8a8;
  font-size: 1em;
}
.section-point .inner .cont p.gray.plus-padding {
  padding-top: 3rem;
}
.section-point a {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 225px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  height: 46px;
  text-decoration: none;
  color: #fff;
  background-color: #ed594d;
}
.section-point a:hover {
  background-color: #de574b;
}

.section-recommend {
  padding: 200px 0 80px;
}
.section-recommend .inner {
  position: relative;
  width: 728px;
  margin: auto;
}
.section-recommend .inner .title {
  text-align: left;
}
.section-recommend .inner .title h4 {
  line-height: 1.2;
  font-size: 1.6em;
  font-weight: 800;
}
.section-recommend .inner .title h4 strong {
  color: #ed594d;
}
.section-recommend .inner .title p {
  padding-bottom: 20px;
}
.section-recommend .inner .box-wrap ul {
  display: flex;
  flex-wrap: wrap;
}
.section-recommend .inner .box-wrap ul li {
  width: 340px;
  margin-right: 47px;
  margin-bottom: 47px;
}
.section-recommend .inner .box-wrap ul li:nth-child(2n) {
  margin-right: 0;
}

.section-why {
  padding: 200px 0 80px;
  background-color: #fff6f5;
}
.section-why .inner {
  position: relative;
  width: 1297px;
  margin: auto;
  padding-bottom: 4rem;
}
.section-why .inner .title {
  text-align: center;
}
.section-why .inner .title h4 {
  line-height: 1.2;
  font-size: 1.6em;
  font-weight: 800;
}
.section-why .inner .title h4 strong {
  color: #ed594d;
}
.section-why .inner .title p {
  padding-bottom: 20px;
}
.section-why .inner .list-wrap {
  width: 1129px;
  margin: 0 auto;
}
.section-why .inner .list-wrap ul li {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  margin-bottom: 0.5rem;
  box-shadow: rgb(225, 230, 242) 0px 0px 12px 0px;
  border-radius: 0.375rem;
}
.section-why .inner .list-wrap ul li > div {
  height: 64px;
  width: 300px;
  border-right: 1px solid #E2E8F0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.section-why .inner .list-wrap ul li > div:first-child {
  width: 162px;
}
.section-why .inner .list-wrap ul li > div:last-child {
  width: 390px;
  border-right: none;
  flex-direction: column;
}
.section-why .inner .list-wrap ul li > div img {
  width: 102px;
  max-height: 21px;
}
.section-why .inner .list-wrap ul li > div .red {
  display: block;
  font-weight: 900;
}
.section-why .inner .list-wrap ul li > div a {
  font-size: 12px;
  text-decoration: underline;
  padding-bottom: 0;
}
.section-why .inner .list-wrap ul li:hover {
  pointer-events: none;
}
.section-why .inner .list-wrap ul li:first-child {
  font-weight: 900;
}
.section-why .inner .text {
  font-weight: 900;
  width: 50%;
  margin: 0 auto;
  font-size: 18px;
  padding-top: 3.5rem;
  margin-top: 0.5rem;
  line-height: 1.65;
}

.section-how .inner {
  position: relative;
  width: 1297px;
  margin: auto;
  padding: 4rem 0;
}
.section-how .inner .title {
  text-align: center;
}
.section-how .inner .title h4 {
  line-height: 1.2;
  font-size: 1.6em;
  font-weight: 800;
}
.section-how .inner .title h4 strong {
  color: #ed594d;
}
.section-how .inner .title p {
  padding-bottom: 20px;
}
.section-how .inner .list-wrap {
  width: 1300px;
  margin: 0 auto;
  margin-top: 0.5rem;
}
.section-how .inner .list-wrap ul {
  display: flex;
  justify-content: space-between;
  padding: 0 32px;
}
.section-how .inner .list-wrap ul li {
  width: 602px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.section-how .inner .list-wrap ul li .img-box {
  background-color: #fff6f5;
  padding: 2rem;
  box-sizing: border-box;
}
.section-how .inner .list-wrap ul li .img-box img {
  width: 100%;
}
.section-how .inner .list-wrap ul li p {
  margin-top: 2rem;
  font-weight: 700;
}

.check-container .section {
  opacity: 0;
  transform: translateY(-1%);
}
.check-container .section .prev-btn {
  display: inline-block;
  padding: 15px 0;
  width: 25px;
  height: 25px;
}
.check-container .section .prev-btn img {
  height: 100%;
}
.check-container .section .inner {
  position: relative;
  width: 600px;
  height: 100vh;
}
.check-container .section .inner .title {
  padding: 32px 0 16px;
  text-align: left;
}
.check-container .section .inner .title h4 {
  line-height: 1.2;
  font-size: 1.6em;
  font-weight: 800;
}
.check-container .section .inner .title h4 strong {
  color: #ed594d;
}
.check-container .section .inner .title p {
  padding: 8px 0;
}
.check-container .section .inner .button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  font-weight: 700;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.check-container .section .inner .button a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #ed594d;
  border-radius: 5px;
  height: 46px;
}
.check-container .section .inner .button a:hover {
  opacity: 0.8 !important;
}
.check-container .section .inner .button.full a {
  width: 49%;
  margin-right: 2%;
}
.check-container .section .inner .button.full a:last-child {
  margin-right: 0;
}
.check-container .section .inner .button.full a.next {
  opacity: 0.5;
}
.check-container .section .inner .button.full a.next.active {
  opacity: 1;
}
.check-container .section .inner .input-box {
  display: flex;
  align-items: center;
}
.check-container .section .inner .input-box input {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
  height: 64px;
  border-radius: 7px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 1.125rem;
  border: 1px solid #aaa9a9;
}
.check-container .section .inner .input-box input:focus {
  outline: none;
}
.check-container .section .inner .input-box p {
  font-size: 1.875rem;
  font-weight: 900;
  margin-left: 1rem;
}
.check-container .section .answer-box ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.check-container .section .answer-box ul li {
  width: 49%;
  margin-bottom: 1%;
  height: 55px;
  border-radius: 7px;
  border: 1px solid #757575;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.check-container .section .answer-box ul li img {
  width: 136px;
}
.check-container .section .answer-box.full li {
  width: 100%;
}
.check-container .section.active {
  opacity: 1;
  transform: translateY(0);
  transition: 0.5s;
}
.check-container .section-check1 .slide-box {
  width: 600px;
}
.check-container .section-check1 .slide-box .slick-slide {
  background-color: #fff6f5;
  width: 600px;
  height: 286px;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s;
  opacity: 0;
}
.check-container .section-check1 .slide-box .slick-slide.slick-current {
  opacity: 1;
}
.check-container .section-check1 .slide-box .slick-slide p {
  margin-top: 16px;
}
.check-container .section-check1 .slide-box .slick-slide .img-box {
  text-align: right;
}
.check-container .section-check1 .slide-box .slick-slide .img-box img {
  width: 160px;
  height: 160px;
  display: inline-block;
}
.check-container .section-check2 li {
  cursor: pointer;
}
.check-container .section-check2 li button {
  width: 100%;
  cursor: pointer;
}
.check-container .section-check2 li button img {
  height: 27px;
  width: initial !important;
}
.check-container .section-check2 li.active {
  border: 2px solid #ed594d !important;
}
.check-container .section-check2 .button {
  opacity: 0.5;
  pointer-events: none;
}
.check-container .section-check2 .button.active {
  opacity: 1;
  pointer-events: all;
}
.check-container .section-check5 .answer-box li button {
  width: 100%;
  height: 100%;
  font-size: 1.125rem;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 500;
  cursor: pointer;
}
.check-container .section-check5 .answer-box li.active {
  border-color: #ed594d;
}
.check-container .section-check5 .answer-box li.active button {
  color: #ed594d;
  font-weight: 900;
}
.check-container .section-check6 .cont > div {
  border-radius: 0.375rem;
  background: rgb(244, 246, 248);
  display: flex;
  align-items: center;
}
.check-container .section-check6 .cont .price {
  padding: 24px 24px 24px 16px;
}
.check-container .section-check6 .cont .price .img-box {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.check-container .section-check6 .cont .price .img-box img {
  width: 70%;
}
.check-container .section-check6 .cont .price .cont-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 1rem;
}
.check-container .section-check6 .cont .price .cont-box .sub-title {
  color: rgba(0, 0, 0, 0.64);
  font-size: 0.875rem;
  font-weight: 700;
  padding-top: 0;
  padding-bottom: 10px;
}
.check-container .section-check6 .cont .price .cont-box .expect-price {
  font-size: 1.125rem;
  font-weight: 700;
}
.check-container .section-check6 .cont .comment {
  padding: 16px;
  margin-top: 1.125rem;
  display: flex;
  align-items: center;
}
.check-container .section-check6 .cont .comment img {
  width: 24px;
  height: 24px;
}
.check-container .section-check6 .cont .comment p {
  margin-left: 4px;
  font-size: 14px;
  font-weight: 500;
}
.check-container .section-check6 .cont .comment p span {
  font-weight: 700;
}

.section-payback {
  padding: 170px 0;
}
.section-payback .inner {
  width: 1300px;
  display: flex;
  justify-content: space-between;
}
.section-payback .inner .left {
  width: 25%;
}
.section-payback .inner .left .top {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-payback .inner .left .top .thumb {
  border-radius: 7px;
  margin-bottom: 12px;
  height: auto;
}
.section-payback .inner .left .top .thumb img {
  border-radius: 7px;
  width: 100%;
  height: 100%;
}
.section-payback .inner .left .top .button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 14px;
}
.section-payback .inner .left .top .button a {
  width: 49%;
  height: 50px;
  margin-right: 2%;
  border-radius: 7px;
  border: 1px solid #ed594d;
  color: #ed594d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 700;
}
.section-payback .inner .left .top .button a:last-child {
  margin-right: 0;
  background-color: #ed594d;
  color: #fff;
}
.section-payback .inner .left .bottom ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-payback .inner .left .bottom ul li {
  padding: 8px 0;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #E2E8F0;
}
.section-payback .inner .left .bottom ul li .img-box {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E2E8F0;
}
.section-payback .inner .left .bottom ul li .img-box img {
  width: 60%;
  height: auto;
}
.section-payback .inner .left .bottom ul li .text {
  margin-left: 34px;
  line-height: 2;
}
.section-payback .inner .left .bottom ul li .text .sub-title {
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.64);
}
.section-payback .inner .left .bottom ul li .text .count {
  font-size: 1.125rem;
  font-weight: 900;
}
.section-payback .inner .right {
  margin-right: 64px;
  width: 65%;
  line-height: 1.5;
}
.section-payback .inner .right h1 {
  font-weight: 900;
  font-size: 1.5rem;
}
.section-payback .inner .right h2 {
  padding: 0.5rem 0 1rem;
  margin-top: 0.5rem;
  font-size: 1.125em;
  font-weight: 700;
}
.section-payback .inner .right p {
  padding: 0.5rem 0;
  margin-top: 0.5rem;
  font-size: 1em;
  font-weight: 400;
}
.section-payback .inner .right p.red {
  font-weight: 900;
  display: flex;
  align-items: center;
}
.section-payback .inner .right p.red img {
  display: inline-block;
  width: 16px;
  margin-right: 8px;
}

.section-comment {
  padding: 180px 0 80px;
}
.section-comment .inner {
  position: relative;
  width: 1700px;
}
.section-comment .inner .review-box {
  width: 1700px;
  padding-bottom: 120px;
}
.section-comment .inner .review-box .slide-group {
  width: 1700px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.section-comment .inner .review-box .slide-group .slick-list {
  padding: 0;
  width: 100%;
}
.section-comment .inner .review-box .slide {
  display: inline-block;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 20px;
  width: 320px !important;
  box-sizing: border-box;
  background-color: #eee;
  border-radius: 24px;
  padding: 30px;
  position: relative;
  text-align: left;
  transition: all 0.25s;
}
.section-comment .inner .review-box .slide .thumb {
  width: 100%;
  height: 150px;
  overflow: hidden;
  margin-bottom: 50px;
}
.section-comment .inner .review-box .slide .title {
  font-size: 1.2em;
  margin-bottom: 10px;
}
.section-comment .inner .review-box .slide .cont {
  font-size: 1em;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.section-comment .inner .review-box .slide .comment {
  margin-top: 1.467em;
  margin-bottom: 10px;
  opacity: 0.7;
  display: flex;
  align-items: center;
}
.section-comment .inner .review-box .slide .comment:before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  background-image: url(../img/comment.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.section-comment .inner .review-box .slide .date {
  color: #767D87;
}
.section-comment .inner .write {
  width: 80px;
  height: 30px;
  border-radius: 30px;
  position: absolute;
  bottom: 0px;
  right: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ed594d;
  color: #fff;
  font-size: 14px;
}
.section-comment .inner .write:hover {
  background-color: #aaa9a9;
  color: #ed594d;
}
.section-comment .inner .slick-arrow {
  font-size: 0;
  width: 11px;
  height: 11px;
  background: transparent;
  border-top: 2px solid #6f6e6e;
  border-left: 2px solid #6f6e6e;
  position: absolute;
  bottom: 12px;
}
.section-comment .inner .slick-arrow.slick-prev {
  transform: rotate(-45deg);
  left: 45%;
}
.section-comment .inner .slick-arrow.slick-next {
  transform: rotate(135deg);
  right: 45%;
}
.section-comment .inner .slick-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-items: center;
}
.section-comment .inner .slick-dots li {
  display: inline-block;
  font-size: 15px;
}
.section-comment .inner .slick-dots li button {
  margin: 10px 0;
  width: 35px;
  color: #6f6e6e;
}
.section-comment .inner .slick-dots li.slick-active button {
  color: #000;
  font-weight: 900;
}

.section-member input {
  outline: none;
  border: none;
}
.section-member a {
  text-decoration: underline;
  color: #0067ff;
}
.section-member .inner {
  padding: 200px 0 80px;
  width: 600px;
}
.section-member .inner .title {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.5;
  font-family: "NotoKR";
}
.section-member .inner .input-wrap input {
  padding: 22px 24px;
  width: 100%;
  height: 64px;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0 0 12px 0 rgba(67, 142, 185, 0.1);
  border: solid 1px #eee;
  background-color: #fff;
  font-weight: 500;
  box-sizing: border-box;
  margin-top: 24px;
}
.section-member .inner .input-wrap input.user-pw {
  margin-top: 16px;
}
.section-member .inner .input-wrap .pw-wrap {
  position: relative;
}
.section-member .inner .input-wrap .pw-wrap .icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-image: url("../img/password_hidden_icon.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 37px;
  right: 24px;
  z-index: 2;
}
.section-member .inner .forgot-pw {
  margin-top: 16px;
  font-size: 14px;
  text-align: right;
}
.section-member .inner .bottom-area {
  margin-top: 55px;
}
.section-member .inner .bottom-area button {
  width: 100%;
  background-color: #de4743;
  color: #fff;
  cursor: default;
  border-radius: 5px;
  margin-top: 12px;
  font-size: 18px;
  height: 64px;
  text-align: center;
  opacity: 0.7;
  font-weight: 700;
}
.section-member .inner .bottom-area p {
  text-align: center;
  font-size: 16px;
  margin-top: 24px;
}
.section-member .inner .bottom-area p a {
  text-decoration: underline;
  color: #0067ff;
}
.section-member.join .recommend-wrap {
  margin-top: 24px;
}
.section-member.join .recommend-wrap .title:after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../img/join_referal_accordion_arrow.png");
  background-size: 24px 24px;
  vertical-align: -4px;
  cursor: pointer;
}
.section-member.join .recommend-wrap .title.active:after {
  transition: 0.2s ease-in-out;
  transform: rotate(180deg);
}
.section-member.join .recommend-wrap .recommend {
  display: none;
}
.section-member.join .recommend-wrap .recommend.active {
  display: block !important;
  transition: 0.2s ease-in-out;
}
.section-member.join .check-wrap {
  display: flex;
  align-items: center;
  margin-top: 24px;
}
.section-member.join .check-wrap p {
  margin-left: 10px;
}
.section-member.reset .input-wrap .alert {
  margin-left: 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  color: #82879b;
  margin-top: 16px;
}
.section-member.reset .input-wrap .alert img {
  width: 19px;
  height: 19px;
}

.title {
  text-align: left;
  font-family: "GmarketSans", "notokr", "맑은 고딕", serif;
}
.title h2 {
  font-size: 3.2em;
  color: #ed594d;
  font-weight: 600;
  position: relative;
  display: inline-block;
}
.title h2.active:before {
  content: "";
  display: block;
  width: 23px;
  height: 23px;
  border-radius: 100px;
  position: absolute;
  top: -10px;
  opacity: 0;
  right: 10px;
  animation: showRight 1s ease-in-out 1;
  animation-fill-mode: forwards;
  background: #ed594d;
}
.title h4 {
  font-size: 1.2em;
  margin-top: 10px;
}

.box-wrap li {
  width: 336px;
  height: 382px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.06);
  position: relative;
  text-align: left;
  transition: all 0.25s;
}
.box-wrap li em {
  color: #ed594d;
  font-weight: 700;
}
.box-wrap li > div {
  width: 100%;
  box-sizing: border-box;
}
.box-wrap li .top {
  position: relative;
  height: 161px;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.box-wrap li .top .label {
  display: block;
  position: absolute;
  top: 14px;
  left: -4px;
  width: 88px;
  height: 29px;
}
.box-wrap li .top .label img {
  width: 100%;
}
.box-wrap li .top .label-cont {
  position: absolute;
  top: 16px;
  left: 6.5px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}
.box-wrap li .middle {
  padding: 12px 16px;
  background-color: #eaeef4;
}
.box-wrap li .middle p {
  font-size: 14px;
  font-weight: 500;
  color: #222;
  text-align: left;
}
.box-wrap li .bottom {
  padding: 14px 16px 16px;
}
.box-wrap li .bottom p {
  font-size: 15px;
  margin-left: 8px;
  font-weight: 500;
  color: #222;
  text-align: left;
}
.box-wrap li .bottom p:before {
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  background-image: url("../img/won_pocket.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.box-wrap li .bottom .progress {
  margin-top: 21px;
  position: relative;
}
.box-wrap li .bottom .progress .progress-bar {
  background: linear-gradient(to right, #0067ff 0%, #de4743 70%);
  height: 4px;
  border-radius: 27.8px;
  position: absolute;
  top: 0;
  left: 0;
}
.box-wrap li .bottom .progress .progress-bar.gray {
  width: 100%;
  background: #eaeef4;
}
.box-wrap li .bottom .progress .progress-now {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 20px;
  border-radius: 60px;
  background-color: #fff;
  position: absolute;
  top: -8px;
  border: solid 1px #de4743;
  right: 0;
}
.box-wrap li .bottom .progress .progress-now em {
  font-weight: 500;
  font-size: 12px;
  color: #000;
}
.box-wrap li .bottom .progress .progress-now img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 12px;
  height: 13px;
  margin-right: 4px;
}
.box-wrap li .bottom .point {
  width: auto;
  display: inline-block;
  margin-top: 30px;
  padding: 4px 7px;
  font-size: 14px;
  color: #222;
  border-radius: 4px;
  background-color: #eaeef4;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  line-height: 1.4em;
  word-break: break-all;
}
.box-wrap li .bottom a {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  height: 46px;
  color: #fff;
  background-color: #ed594d;
  z-index: 2;
}
.box-wrap li:nth-child(1) .top {
  background-image: url("../img/label_1.png");
}
.box-wrap li:nth-child(2) .top {
  background-image: url("../img/label_2.png");
}
.box-wrap li:nth-child(3) .top {
  background-image: url("../img/label_3.png");
}
.box-wrap li:nth-child(4) .top {
  background-image: url("../img/label_4.png");
}
.box-wrap li:nth-child(5) .top {
  background-image: url("../img/label_5.png");
}

.section-container {
  height: 100%;
  position: relative;
  width: 100%;
}
.section-container .section {
  height: 900px;
  width: 100vw;
}
.section-container .section > .inner {
  position: relative;
  height: 100%;
  z-index: 1;
  padding: 150px 0 110px;
  box-sizing: border-box;
  margin: 0 auto;
}

.section-main {
  display: flex;
  height: 900px;
  align-items: center;
  justify-content: center;
  position: relative;
}
.section-main .wrap {
  width: 710px;
  margin-top: 96px;
  z-index: 1;
}
.section-main .title {
  text-align: center;
  margin-bottom: 3em;
}
.section-main .title h2 {
  color: #000;
  line-height: 1.5;
  font-size: 2.4em;
}
.section-main .title h2:before {
  display: none;
}
.section-main .title h2 strong {
  color: #ed594d;
}
.section-main .title p {
  margin-top: 0.25em;
  padding: 0.5em 0;
  color: #a8a8a8;
}
.section-main .serch-wrap {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 2em;
}
.section-main .serch-wrap .input-group {
  width: 710px;
  height: 80px;
  border: solid 5px #ed594d;
  border-radius: 20px;
  background-color: #fff;
  box-sizing: border-box;
  overflow: visible;
  transition: all 0.2s;
  display: inline-flex;
  align-items: center;
  z-index: 120;
}
.section-main .serch-wrap .input-group .select-box {
  position: relative;
  height: 100%;
}
.section-main .serch-wrap .input-group .select-box .select {
  line-height: 1.5;
  display: inline-block;
  border-radius: 14px 0 0 14px;
  width: 165px;
  height: 100%;
  text-align: left;
  color: #6c757d;
  font-size: 18px;
  box-sizing: border-box;
}
.section-main .serch-wrap .input-group .select-box .select .selected {
  display: flex;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;
  height: 100%;
  box-sizing: border-box;
}
.section-main .serch-wrap .input-group .select-box .select .selected .selected-value {
  height: 70px;
  max-width: 100px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-main .serch-wrap .input-group .select-box .select .selected .selected-value img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.section-main .serch-wrap .input-group .select-box .select .selected .arrow {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid #6c757d;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translate(0, -50%);
}
.section-main .serch-wrap .input-group .select-box .select ul {
  padding: 10px;
  display: none;
  width: 165px;
  position: absolute;
  background: #fff;
  border-top: none;
  margin: 1px 0 0 -1px;
  box-sizing: border-box;
  cursor: pointer;
  margin-top: 5px;
}
.section-main .serch-wrap .input-group .select-box .select ul li {
  display: block;
  padding: 0 1em;
  height: 42px;
  color: #000;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: start;
}
.section-main .serch-wrap .input-group .select-box .select ul li img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.section-main .serch-wrap .input-group .select-box .select ul li:hover {
  background-color: #ed594d;
  color: #fff;
}
.section-main .serch-wrap .input-group .select-box .select.active ul {
  display: block;
}
.section-main .serch-wrap .input-group .select-box:hover:after {
  border-top: 0.3em solid #fff;
}
.section-main .serch-wrap .input-group #search-bar {
  height: 70px;
  width: 100%;
  border: none !important;
  border-radius: 0 13px 13px 0;
  font-size: 1.467rem;
  padding-left: 24px;
  padding-right: 24px;
  font-weight: 500;
  background: url(../img/bg-input-line.svg) 0 50% no-repeat;
}
.section-main .serch-wrap .input-group #search-bar:focus-visible {
  outline: none;
}
.section-main .serch-wrap .input-group:hover {
  box-shadow: 10px 15px 10px rgba(35, 35, 39, 0.15);
}
.section-main .serch-wrap a {
  width: 70px;
  height: 70px;
  background-color: #ed594d;
  border-radius: 28px;
  display: inline-block;
  margin-left: 20px;
  background-image: url(../img/ico-search-big.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  font-size: 0;
  text-indent: -9999px;
  position: relative;
  z-index: 120;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
}
.section-main .serch-wrap .dim {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  background-color: rgba(64, 65, 70, 0.85);
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  z-index: 2;
  transition: all 0;
  transition-timing-function: ease-in-out;
  width: 100vw;
  height: 116vh;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}
.section-main .ranking {
  vertical-align: middle;
  display: inline-flex;
  width: 100%;
  margin-top: -2px;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  margin-top: 13px;
}
.section-main .ranking span {
  font-size: 1.267em;
  vertical-align: middle;
  font-family: "GmarketSans", "notokr", "맑은 고딕", serif;
}
.section-main .quick-menu {
  text-align: center;
  position: relative;
  z-index: 1;
  margin: 20px 0;
}
.section-main .quick-menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-main .quick-menu ul li {
  display: inline-block;
  flex-basis: 12.5%;
}
.section-main .quick-menu ul li a .thumb {
  width: 84px;
  height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  background-color: #EBEFF6;
  margin: 0 auto 7px;
  position: relative;
  box-sizing: border-box;
  transition: all 0.15s;
  transition-timing-function: cubic-bezier(0.48, 0.355, 0.35, 1.495);
}
.section-main .quick-menu ul li a .thumb img {
  width: 35px;
  height: 35px;
}
.section-main .scroll-down {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
}
.section-main .scroll-down b {
  display: block;
  width: 5px;
  height: 13px;
  border-radius: 100px;
  background-color: #BEBEC8;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  animation: upandDown 1s ease-in-out infinite;
  z-index: 3;
}
.section-main .scroll-down r {
  position: relative;
  display: block;
  background-color: #fff;
  margin: 0 auto 13px;
  width: 32px;
  height: 48px;
  box-sizing: border-box;
  border-radius: 100px;
  border: solid 3px #80808d;
}
.section-main .scroll-down span {
  font-family: "Arial", serif;
  font-size: 0.733em;
  letter-spacing: 0;
}

.section-check .title {
  text-align: center;
}
.section-check .table-wrap {
  margin-top: 40px;
}
.section-check .table-wrap table {
  display: table;
  margin: 100px auto;
  width: 710px;
}
.section-check .table-wrap table thead th {
  vertical-align: middle;
  padding: 0 0.5rem;
  font-size: 1.067em;
  font-weight: 700;
  color: #8B8C94;
  border-bottom: 1px solid #707070;
  height: 50px;
}
.section-check .table-wrap table tbody tr {
  height: 54px;
  vertical-align: middle;
  box-sizing: border-box;
  text-align: center;
  border-radius: 16px 0 0 16px;
}
.section-check .table-wrap table tbody tr td {
  vertical-align: middle;
  padding: 0 0.5rem;
  font-size: 1.067em;
  color: #232327;
  height: 54px;
  box-sizing: border-box;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(112, 112, 112, 0.4);
}
.section-check .table-wrap table tbody tr td img {
  max-height: 21px;
  padding: 0 0.5rem;
}
.section-check .table-wrap table tbody tr td:last-child img {
  width: 16px;
  height: 16px;
  margin-left: 5px;
}
.section-check .table-wrap table tbody tr:hover {
  position: relative;
  z-index: 1;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  border: 3px solid #1826A2;
  border-radius: 16px 0 0 16px;
}

.section-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 437px !important;
}
.section-banner .inner {
  background-color: #f9f3e1;
  background-image: url("../img/bg_check.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 765px 437px;
  height: 437px !important;
  padding: 0 !important;
  width: 100%;
  text-align: center;
}
.section-banner .inner .title {
  padding: 50px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.section-banner .inner .title h4 {
  font-size: 30px;
  font-weight: 900;
}
.section-banner .inner .title h4 .red {
  display: inline-block;
}
.section-banner .inner .title .gray {
  color: rgba(0, 0, 0, 0.48);
  font-weight: 80;
  margin: 8px 0;
}
.section-banner .inner .btn {
  background-color: #ed594d;
  height: 47px;
  width: 216px;
  margin: 0 auto;
  text-align: center;
  font-weight: 500;
  border-radius: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-exchange .inner {
  position: relative;
  width: 1188px;
  margin: 0 auto;
}
.section-exchange .inner .title {
  text-align: center;
}
.section-exchange .inner .box-wrap {
  margin-top: 50px;
}
.section-exchange .inner .box-wrap ul {
  display: flex;
  justify-content: space-between;
}
.section-exchange .inner .box-wrap ul:last-child {
  margin-right: 0;
}
.section-exchange .more {
  font-family: "GmarketSans", "notokr", "맑은 고딕", serif;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  text-align: center;
  padding: 15px 0;
  box-sizing: border-box;
  width: 300px;
  height: 50px;
  font-size: 1.5em;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
.section-exchange.new li:nth-child(2) .top {
  background-image: url("../img/label_4.png");
}
.section-exchange.new li:nth-child(3) .top {
  background-image: url("../img/label_5.png");
}

.section-review {
  height: 100%;
  overflow: hidden;
}
.section-review .inner {
  justify-content: flex-start;
  display: flex;
  align-items: center;
}
.section-review .inner .title .wrap {
  white-space: nowrap;
  z-index: 1;
  padding: 48px 80px 0 115px;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: linear-gradient(to right, rgb(255, 255, 255) 85%, rgba(255, 255, 255, 0) 100%);
}
.section-review .inner .title .more {
  clear: both;
  background-color: transparent;
  display: inline-block;
  border: none;
  width: 130px;
  position: relative;
  font-size: 1.067em;
  color: #ed594d;
  height: auto;
  padding: 0.7em 2em 0.7em 1em;
  margin-top: 20px;
  transition: all 0.3s;
  outline: none;
}
.section-review .inner .title .more:before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ed594d;
  position: absolute;
  bottom: 0;
  left: 0;
}
.section-review .inner .title .more:after {
  left: auto;
  right: -2px;
  bottom: 5px;
  transform: translate(0, -50%) rotate(45deg);
  width: 20px;
  content: "";
  display: block;
  height: 3px;
  background-color: #ed594d;
  position: absolute;
}
.section-review .inner .title .more:hover {
  width: 180px;
}
.section-review .inner .slider {
  display: flex;
}
.section-review .inner .slider .slick-list {
  padding: 50px 50px 50px 40px;
}
.section-review .inner .slider .slide {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  width: 300px;
  height: 450px;
  box-sizing: border-box;
  background-color: #eee;
  border-radius: 24px;
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.06);
  padding: 30px;
  position: relative;
  text-align: left;
  transition: all 0.25s;
}
.section-review .inner .slider .slide .thumb {
  width: 100%;
  height: 150px;
  overflow: hidden;
  margin-bottom: 50px;
}
.section-review .inner .slider .slide .title {
  font-size: 1.2em;
  margin-bottom: 10px;
}
.section-review .inner .slider .slide .cont {
  font-size: 1em;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.section-review .inner .slider .slide .comment {
  margin-top: 1.467em;
  margin-bottom: 10px;
  opacity: 0.7;
  display: flex;
  align-items: center;
}
.section-review .inner .slider .slide .comment:before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  background-image: url(../img/comment.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.section-review .inner .slider .slide .date {
  color: #767D87;
}
.section-review .inner .slider .slide:hover {
  transform: scale(1.16);
  background-color: #ed594d;
  box-shadow: none;
}
.section-review .inner .slider .slide:hover .title {
  color: #fff;
}
.section-review .inner .slider .slide:hover a:hover {
  text-decoration: underline;
}

.section-ads {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-ads .inner {
  width: 100%;
  background-color: #eee;
  height: 440px !important;
  padding: 0 !important;
}

.section-result {
  background-color: #f4f7fb;
  padding: 120px 0;
}
.section-result .greeting {
  margin-top: 100px;
  text-align: center;
  font-size: 1.3em;
  font-weight: 500;
  color: #7f8183;
  margin-bottom: 15px;
}
.section-result .inner {
  width: 1108px;
  padding: 50px 10px;
  margin: 0 auto;
  background-color: #f3f3f3;
}
.section-result .sum {
  background-color: #fff;
  padding: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}
.section-result .sum img {
  width: 4em;
}
.section-result .sum .title {
  width: 80%;
  margin-left: 20px;
  line-height: 1.5;
  position: relative;
  font-family: "notokr", "맑은 고딕", serif;
}
.section-result .sum .title p {
  font-size: 1.5em;
  font-weight: 500;
}
.section-result .sum .title:after {
  content: "";
  position: absolute;
  top: -12px;
  right: 0;
  display: inline-block;
  width: 2px;
  height: 100px;
  background-color: #eeeeee;
}
.section-result .sum .total {
  padding-left: 50px;
  text-align: center;
}
.section-result .sum .total span {
  display: block;
  font-size: 1em;
  margin-bottom: 15px;
}
.section-result .sum .total .total_payback {
  font-size: 2em;
  font-weight: 900;
}
.section-result .table-area {
  font-weight: 500;
  width: 100%;
}
.section-result .table-area p {
  font-weight: 900;
  font-size: 1.3em;
  margin-bottom: 30px;
}
.section-result .table-area table {
  width: 100%;
}
.section-result .table-area table thead {
  margin-bottom: 30px;
}
.section-result .table-area table thead th {
  text-align: left;
  color: #80808d;
  padding: 10px 0;
}
.section-result .table-area table thead th:last-child {
  text-align: right;
}
.section-result .table-area table tbody {
  background-color: #fff;
  border: 1px solid #eeeeee;
}
.section-result .table-area table tbody tr {
  border-bottom: 1px solid #eeeeee;
}
.section-result .table-area table tbody td {
  padding: 30px 0;
}
.section-result .table-area table tbody td:first-child {
  padding-left: 20px;
}
.section-result .table-area table tbody td:last-child {
  padding-right: 20px;
}
.section-result .table-area table tbody td.total_pb {
  text-align: right;
  color: #90d274;
}

/* animate */
@keyframes upandDown {
  0% {
    margin-top: 0;
    opacity: 0.2;
  }
  30% {
    margin-top: 10px;
    opacity: 1;
  }
  100% {
    margin-top: 0;
    opacity: 0.2;
  }
}
@keyframes showRight {
  80% {
    opacity: 0;
    right: 10px;
  }
  100% {
    opacity: 1;
    right: -30px;
  }
}/*# sourceMappingURL=main.css.map */