@import "./mixin.scss";

//폰트
@font-face {
	font-family: 'NotoKR';
	src: url('../font/notokr-regular.woff2') format('woff2');
	font-weight: 400
}

@font-face {
	font-family: 'NotoKR';
	src: url('../font/notokr-medium.woff2') format('woff2');
	font-weight: 500
}

@font-face {
	font-family: 'NotoKR';
	src: url('../font/notokr-bold.woff2') format('woff2');
	font-weight: 700
}

@font-face {
	font-family: 'GmarketSans';
	src: url('../font/GmarketSansMedium.woff') format('woff2');
	font-weight: 500
}

@font-face {
	font-family: 'GmarketSans';
	src: url('../font/GmarketSansBold.woff') format('woff2');
	font-weight: 700
}

body {
	width: 100%;
	font-family: 'NotoKR';
}

header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1100;
	.ad-bar{
		font-size: 18px;
		height: 51px;
		background-color: #ed594d;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 2.4rem;
		color:#fff;
		font-weight: 700;
		border-bottom: 1px solid #E2E8F0;
		a{
			display: flex;
			align-items: center;
			img{
				margin-left: 8px;
			}
		}
	}
	.header-main {

		background: #fff;
		height: 5.2rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 2.4rem;
		width: 100%;

		box-sizing: border-box;

		h1 {
			img {
				width: 6.5em;
			}
		}

		#gnb {
			margin-left: 190px;
			li {
				display: inline-block;

				a {
					font-size: 1.3rem;
					font-weight: 500;
					padding: 0 1vw;
					color: #232327;
				}
			}
		}

		.user {
			display: flex;
			align-items: center;
			justify-content: center;
			li {
				height: 42px;
				display: inline-block;
				border-radius: 5px;
				color:#fff;
				justify-content: center;
				align-items: center;
				margin-right: 8px;
				a {
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					img{
						width: 16px;
						height: 16px;
						margin-right: 8px;
					}

				}
				&.lang{
					width: 110px;
					display: inline-flex;
					justify-content: center;
					align-items: center;
					color:#000;
					height: 42px;
					box-sizing: border-box;
					.select {
						line-height: 1.5;
						display: inline-block;
						width: 110px;						

						
						text-align: center;
						.selected {
							display: flex;
							justify-content: space-between;
							padding: 8px 5px;
							height: 42px;
							box-sizing: border-box;
							.selected-value {
								max-width: 90px;
								text-align: center;
							}
							.arrow {
								width: 24px;
								background: url("../img/down-arrow.png") no-repeat 70% 50%;
								background-size: 50% 50%;
							}

						}
						ul {
							display: none;
							width: 110px;
							box-shadow: 0 0 12px 0 rgba(0, 0, 0, .1);
							position: absolute;
							background: #fff;
							border-top: none;
							margin: 1px 0 0 -1px;
							box-sizing: border-box;
							cursor: pointer;
							li {
								line-height: 1.5;
								
								display: block;
								padding: 8px 5px;
								height: 42px;
								color:#000;
								box-sizing: border-box;
							}
						
						}
						&.active{
							ul{
								display: block;
							}
						}
					}
				}
				&.log-in{
					width: 97px;
					color:#000;
				}
				&.join{
					width: 110px;
					background-color: #ed594d;
					margin-right: 0;
				}
			}
		}
	}

}

main {
	position: relative;

	.chat {
		box-sizing: border-box;
		display: block;
		position: fixed;
		bottom: 50px;
		right: 50px;
		width: 56px;
		height: 56px;
		cursor: pointer;
		z-index: 30;
		border-radius: 24px;
		background: linear-gradient(rgb(0, 112, 243) 0%, rgb(0, 72, 243) 100%);
		box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.1) 0px 4px 6px, rgba(0, 0, 0, 0.15) 0px 8px 30px;

		img {
			width: 35px;
		}
	}

}

footer {
	background-color: #5A5B68;
	padding: 2.533rem 0;

	.wrap {
		line-height: 1.8;
		width: 1300px;
		margin: 0 auto;
		color: #fff;

		.gray {
			opacity: .7;
		}

		p {
			display: flex;
			align-items: center;

			span {
				&:after {
					content: '';
					display: inline-block;
					width: 1px;
					height: 0.7rem;
					background-color: #fff;
					opacity: .7;
					margin-inline-start: 0.5rem;
					margin-inline-end: 0.5rem;
					vertical-align: middle;
				}
			}
		}
	}
}